In [1]:
import pandas as pd
import sqlite3

In [2]:
#!pip install ipython-sql
%load_ext sql

In [3]:
#it defines the database
%sql sqlite:///Database/Database.db

In [4]:
df = pd.DataFrame(
    {
        'name':['siri','alexa'],
        'idade':[23,20],
        'cargo':['Analista de Dados','Cientista de Dados']
    }
)
conn = sqlite3.connect('Database/Database.db')

In [5]:
df.to_sql('funcionarios',conn)

2

In [6]:
#direct sql queries in sql

In [7]:
%%sql

SELECT count(*) FROM funcionarios

 * sqlite:///Database/Database.db
Done.

[(2,)]

In [8]:
%%sql
SELECT avg(idade) as 'idade_media' FROM funcionarios

 * sqlite:///Database/Database.db
Done.

[(21.5,)]

In [9]:
data = pd.read_csv('Datasets/diabetes.csv')

In [10]:
data.head

<bound method NDFrame.head of      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]>

In [11]:
data.to_sql('diabetes',conn)

768

In [12]:
%%sql 
SELECT Glucose,Age,Outcome FROM diabetes WHERE Glucose > 190

 * sqlite:///Database/Database.db
Done.

[(197, 53, 1),
 (196, 41, 1),
 (194, 41, 1),
 (196, 57, 1),
 (197, 31, 0),
 (193, 24, 0),
 (191, 34, 0),
 (194, 59, 1),
 (196, 29, 1),
 (193, 25, 1),
 (197, 39, 1),
 (194, 67, 0),
 (195, 55, 1),
 (198, 28, 1),
 (197, 62, 1),
 (199, 22, 1),
 (195, 31, 1)]

In [13]:
%%sql
CREATE TABLE pacientes(
    Pregnancies INT,
    Glucose INT,
    BloodPressure INT,
    SkinThickness INT,
    Insulin INT,
    BMI DECIMAL(8,2),
    DiabetesPedigreeFunction DECIMAL(8,2),
    Age INT,
    Outcome INT
)

 * sqlite:///Database/Database.db
Done.

[]

In [14]:
%%sql
INSERT INTO pacientes(
    Pregnancies,
    Glucose,
    BloodPressure,
    SkinThickness,
    Insulin,
    BMI,
    DiabetesPedigreeFunction,
    Age,
    Outcome
)
SELECT 
Pregnancies,Glucose,
BloodPressure,SkinThickness,
Insulin,BMI,DiabetesPedigreeFunction,
Age,Outcome FROM diabetes WHERE Age > 50

 * sqlite:///Database/Database.db
81 rows affected.

[]

In [ ]:
#These codes above filters the patients where they are 50 years old or more and have glucose above 190

In [16]:
%%sql
ALTER TABLE pacientes
ADD Situation VARCHAR(10)

 * sqlite:///Database/Database.db
Done.

[]

In [17]:
%%sql
UPDATE pacientes
SET Situation = 'Normal'
WHERE BMI < 30

 * sqlite:///Database/Database.db
38 rows affected.

[]

In [18]:
%%sql
UPDATE pacientes
SET Situation = 'Obese'
WHERE BMI >= 30

 * sqlite:///Database/Database.db
43 rows affected.

[]

In [19]:
query = conn.execute('SELECT * FROM pacientes')

In [20]:
cols = [coluna[0] for coluna in query.description]

In [21]:
result = pd.DataFrame.from_records(data=query.fetchall(),columns=cols)

In [22]:
result.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Situation
0,2,197,70,45,543,30.5,0.158,53,1,Obese
1,8,125,96,0,0,0.0,0.232,54,1,Normal
2,10,139,80,0,0,27.1,1.441,57,0,Normal
3,1,189,60,23,846,30.1,0.398,59,1,Obese
4,5,166,72,19,175,25.8,0.587,51,1,Normal

In [25]:
result.to_csv('Datasets/pacientes.csv',index=False)